<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Frontend Management</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>


<div class="container">
    <div class="row">

        <div class="col-sm"></div>

        <div class="col-sm" style="margin-top: 150px;" >

            <div id="FormDataPresenter" >
                <form method="POST" enctype="multipart/form-data" id="FormData1">
                    Select the CSV file to upload:
                    <br>
                    <input type="file" name="file" accept=".csv"  id="file">
                    <br>
                    <input type="submit" value="Upload CSV" id="send" name="send" disabled>
                </form>
            </div>

            <div id="ResultPresenter" style="display: none" >
                <div id="processingData" >
                    <h1>Processing Data, please wait .... </h1>
                </div>
                <div id="showingData" style="display: none" >
                    <h1 id="titleResults" name="titleResults" ></h1>
                    <table id="presentateResults" name="presentateResults" style="width:100%">
                        <tbody>
                            <tr>
                                <th>Número de factura</th>
                                <th>Nombres del cliente</th>
                                <th>Apellidos del cliente</th>
                                <th>Identificación del cliente</th>
                                <th>Codigo del item</th>
                                <th>Descripción del item</th>
                                <th>Cantidad del item</th>
                                <th>Precio unitario</th>
                                <th>Porcentaje de descuento</th>
                            </tr>
                        </tbody>
                    </table>

                    <div id="errorsContainer" name="errorsContainer">
                        <h2 id="errorResults" name="errorResults" ></h2>
                        <br>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-sm"></div>

    </div>

</div>


<script>

    $(document).ready(
        function(){


            var sessionName = String(new Date().getTime())

            var webSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/' + sessionName + '/');

            webSocket.onmessage = function(e) {
                $('#processingData').hide();
                $('#showingData').show();

                var data = JSON.parse(e.data);
                console.log(JSON.stringify(data.content))
                var status = data.content[0];
                var errors = data.content[1];
                if(status){
                    json_response =  data.content[2];
                    $('#titleResults').text(
                        'Process finished sucessfully, the invoices in the file ' +
                        json_response['filename'] +
                        ' add up to ' +
                        parseFloat(json_response['total_items_price']).toFixed(2)
                    );

                    jQuery.each(json_response['invoices'], function(i, val) {

                        $('#presentateResults tr:last').after(
                            '<tr><th>' + val['invoice_number'] +
                            '</th><th>' + val['client_name'] +
                            '</th><th>' + val['client_lastname'] +
                            '</th><th>' + val['client_id'] +
                            '</th><th>' + val['item_code'] +
                            '</th><th>' + val['item_description'] +
                            '</th><th>' + parseFloat(val['item_amount']).toFixed(2) +
                            '</th><th>' + parseFloat(val['item_price']).toFixed(2) +
                            '</th><th>' + parseFloat(val['item_discount_rate']).toFixed(2) +
                            '</th></tr>'
                        );
                    });

                    if (errors.length > 0){

                        $('#errorResults').text('However, we found some errors during the file processing: ');

                        jQuery.each(errors, function(i, val) {
                            $('#errorsContainer').append(val['error_description'] + ' - ' + JSON.stringify(val['error_capturated']) + '<br>');
                        });
                    }

                }else{
                    $('#presentateResults').hide();
                    $('#titleResults').text('Process failed, we found this errors: ');
                    $('#errorResults').text(errors);
                }

            };

            webSocket.onclose = function(e) {
                console.error('Web socket closed unexpectedly');
            };


            //Enable submit button after upload a CSV file
            $('#file').change(
                function(){
                    if ($(this).val()) {
                        $('#send').attr('disabled',false);
                    } 
                }
            );

            $( "#send" ).click(function() {
                event.preventDefault();

                var form = $('#FormData1')[0];

                var data = new FormData(form);

                data.append("session_name", sessionName);

                $('#FormDataPresenter').hide();
                $('#ResultPresenter').show();
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: '/upload-file/',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {

                        console.log('SUCCESS : ', data);

                    },
                    error: function (e) {

                        console.log('ERROR : ', e);
                        alert('Error processing data.')
                        $('#ResultPresenter').hide();
                        $('#FormDataPresenter').show();

                    }
                });


         });
     });

 </script>
</body>
</html>